.form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.textarea {
    max-width: 45vw;
    min-height: 40px;
    max-height: 40vh;
    resize: vertical;
}